@()(implicit request: RequestHeader)

@main("Create file") {
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Web Text Editor</title>
            <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
            <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        </head>
        <body>
            <div class="container">
                <h2>Create a new file here</h2>
                <p>
                    Write the title and the text of the new file here.
                </p>
                <form action="createFile" method="post">
                    @helper.CSRF.formField
                    <label for="newTitle">Title</label>
                    <input type="text" name="newTitle" id="newTitle">

                    <label for="newText">Text</label>
                    <textarea type="text" id="newText" name="newText" class="input-new-text"></textarea>

                    <input type="submit" value="Save file">
                </form>
            </div>
        </body>
    </html>
}