@(title: String)

@main("File deleted"){
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Web Text Editor</title>
            <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/saveText.css")">
            <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        </head>
        <body>
            <div id="fileDeleted" class="container">
                <h3>File @title deleted</h3>
                Press the button to view all the files.
                <a href="/view">
                    <button>View files</button>
                </a>
            </div>
        </body>
    </html>
}