@(title: String)

@main("Error finding file") {
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Web Text Editor</title>
            <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
            <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        </head>
        <body>
            <div class="container">
                <h3>Error Page</h3>
                <p>
                    Sorry, we couldn't find file @title...
                </p>
                <a class="button-back" href="/view">
                    <button>Go back</button>
                </a>
            </div>
        </body>
    </html>
}