@(title: String, text: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>Web Text Editor</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/saveText.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <div class="container">
            <h1>Edit File: @title</h1>
            <textarea name=@title id=@title data-autosave-url="http://localhost:9000/saveText">@text</textarea>
            <div>
                <div class="autosave-message"></div>
                <a class="button-back" href="/view">
                    <!-- Auto-save and then go back -->
                    <button>Go Back bro, you are drunk...</button>
                </a>
            </div>
        </div>
        <script src="@routes.Assets.versioned("javascripts/deleteCookie.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/saveScript.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>