@()

@main("Error at file deletion") {
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Web Text Editor</title>
            <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
            <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        </head>
        <body>
            <div class="container">
                <h1>THE BEST TEXT EDITOR!</h1>
                <br>
                Press the button to view all the files.
                <br>
                <br>
                <a href="/view">
                    <button>View files</button>
                </a>
            </div>
        </body>
    </html>
}
