@(files: Seq[String], usedFiles: Seq[String])

@main("All files") {
<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>Web Text Editor</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/saveText.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <div class="container">
            <h2>All Files</h2>
            <h3>
                These are all the files that you created! I challenge you to pick one...
            </h3>
            <ul>
                @for(file <- files) {
                    <li>
                        <a href="/view/@file">@file</a>
                    </li>
                }
@*                @for(file <- usedFiles) {*@
@*                    <li>*@
@*                        <a href="/view/@file">@file</a>*@
@*                    </li>*@
@*                }*@
            </ul>
        </div>
        <br><br>
        <div class="container">
            <h2>All Files</h2>
            <h3>
                These files are already being edited, and you can't open...
            </h3>
            <ul>
                @for(file <- usedFiles) {
                    <li>
                        @file
                    </li>
                }
            </ul>
        </div>
@*        <br>*@
@*        <h3>*@
@*            These files are already being edited, and you can't open...*@
@*        </h3>*@
@*        <ul>*@
@*            @for(usedFile <- usedFiles) {*@
@*                <li>*@
@*                    @usedFile*@
@*                </li>*@
@*            }*@
@*        </ul>*@
    </body>
</html>
}