@(files: Seq[String])

@main("All files") {
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Web Text Editor</title>
            <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
            <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        </head>
        <body>
            <div class="container">
                <h2>All Files</h2>
                <h3>
                    These are all the files that you created! I challenge you to pick one...
                </h3>
                <ul>
                    @for(file <- files) {
                        <li>
                            <a href="/view/@file">@file</a>
                        </li>
                    }
                </ul>
                <a class="button-back" href="/fileCreationPage">
                    <button>Create file</button>
                </a>
            </div>
        </body>
    </html>
}